.image_a {
  background: url(../img/I_users/Dog1.png);
}
.image_b {
  background: url(../img/I_users/Bison.png);
}
.image_c {
  background: url(../img/I_users/Cow.png);
}
.image_d {
  background: url(../img/I_users/Dog4.png);
}
.image_e {
  background: url(../img/I_users/Dog5.png);
}
.image_f {
  background: url(../img/I_users/Ant.png);
}
.image_g {
  background: url(../img/I_users/Bear.png);
}
.image_h {
  background: url(../img/I_users/Dog2.png);
}
.image_i {
  background: url(../img/I_users/Buffalo.png);
}
.image_j {
  background: url(../img/I_users/Cat1.png);
}
.image_k {
  background: url(../img/I_users/Cat2.png);
}
.image_l {
  background: url(../img/I_users/Cat3.png);
}
.image_m {
  background: url(../img/I_users/Cat4.png);
}
.image_n {
  background: url(../img/I_users/Cat5.png);
}
.image_o {
  background: url(../img/I_users/Dog5.png);
}
.image_p {
  background: url(../img/I_users/Duck.png);
}
.image_q {
  background: url(../img/I_users/Eagle.png);
}
.image_r {
  background: url(../img/I_users/Elephant.png);
}
.image_s {
  background: url(../img/I_users/Fox.png);
}
.image_t {
  background: url(../img/I_users/Giraffe.png);
}
.image_u {
  background: url(../img/I_users/Snake.png);
}
.image_v {
  background: url(../img/I_users/Moose.png);
}
.image_w {
  background: url(../img/I_users/Squirrel.png);
}
.image_x {
  background: url(../img/I_users/Tiger.png);
}
.image_y {
  background: url(../img/I_users/Wolf.png);
}
.image_z {
  background: url(../img/I_users/Zebra.png);
}
.image_special {
  background: url(../img/I_users/Otter.png);
}

.image_a,
.image_b,
.image_c,
.image_d,
.image_e,
.image_f,
.image_g,
.image_h,
.image_i,
.image_j,
.image_k,
.image_l,
.image_m,
.image_n,
.image_o,
.image_p,
.image_q,
.image_r,
.image_s,
.image_t,
.image_u,
.image_v,
.image_w,
.image_x,
.image_y,
.image_z,
.image_special {
  background-repeat: no-repeat;
  background-size: contain;
}
